.login-container {
  margin: auto;
  width: 20%;
  align-items: center;
  padding: 5%;
}

.input-text {
  display: flex;
  margin-bottom: 2%;
}

.input-box {
  display: flex;
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #e1e1e3;
  color: #303b4a;
  outline: none;
  margin-bottom: 40px;
}

.login-button {
  width: 50%;
  background-color: blue;
  color: white;
  padding: 3%;
  border-radius: 5px;
  margin-top: 1%;
  font-weight: 500;
  cursor: pointer;
  margin: auto;
}
